# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Runtime data
pids
*.pid
*.seed
*.pid.lock
lib-cov/
coverage/


# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env

# Testing
/coverage

# Project build files
/dist/
/build/
/uploads

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
